#bar {
  border-radius: 0px;
}

#bar-inner {
  margin: 8px;
  opacity: 1;
}

#workspaces {
  padding: 14px;
}

#workspaces-container {
  background-color: transparent;
}

#workspaces > button > label {
  font-size: 0px;
}

#workspaces > button {
  min-width: 10px;
  min-height: 10px;
  border-radius: 50%;
  border: 2px solid alpha(white, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 8px;
  padding: 0;
}

#workspaces > button > box#dot {
  min-width: 5px;
  min-height: 5px;
  border-radius: 50%;
  background-color: alpha(blue, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces > button:hover {
  border-color: alpha(white, 0.8);
}

#workspaces > button:hover > box#dot {
  background-color: alpha(white, 0.8);
}

#workspaces > button.empty:hover {
  background-color: yellow;
}

#workspaces > button.urgent {
  background-color: red;
}

#workspaces > button.active {
}

#workspaces > button.active > box#dot {
  background-color: #ea9a97;
}
