@define-color overlay #2a273f;

@define-color highlight-high #56526e;

@define-color love #2a273f;

* {
  background-image: none;
  font-size: 16px;
}

window {
  background-color: transparent;
}

button {
  color: #e0def4;
  background-color: @overlay;
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

button:hover {
  background-color: @highlight-high;
  background-size: 30%;
}

button:focus {
  background-color: @love;
  background-size: 40%;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:focus#lock {
  border-radius: 55px;
  margin: 100px 0px 100px 150px;
}

button:focus#logout {
  border-radius: 55px;
  margin: 100px 0px 100px 0px;
}

button:focus#suspend {
  border-radius: 55px;
  margin: 100px 0px 100px 0px;
}

button:focus#shutdown {
  border-radius: 55px;
  margin: 100px 0px 100px 0px;
}

button:focus#hibernate {
  border-radius: 55px;
  margin: 100px 0px 100px 0px;
}

button:focus#reboot {
  border-radius: 55px;
  margin: 100px 150px 100px 0px;
}

#lock {
  background-image: image(
    url("/home/godot/.config/wlogout/assets/lock.png"),
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
  border-radius: 5em 0em 0em 5em;
  margin: 150px 0px 150px 150px;
}

#logout {
  background-image: image(
    url("/home/godot/.config/wlogout/assets/logout.png"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
  border-radius: 0px;
  margin: 150px 0px 150px 0px;
}

#suspend {
  background-image: image(
    url("/home/godot/.config/wlogout/assets/suspend.png"),
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
  border-radius: 0px;
  margin: 150px 0px 150px 0px;
}

#shutdown {
  background-image: image(
    url("/home/godot/.config/wlogout/assets/shutdown.png"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
  border-radius: 0px;
  margin: 150px 0px 150px 0px;
}

#hibernate {
  background-image: image(
    url("/home/godot/.config/wlogout/assets/hibernate.png"),
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
  border-radius: 0px;
  margin: 150px 0px 150px 0px;
}
#reboot {
  background-image: image(
    url("/home/godot/.config/wlogout/assets/reboot.png"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
  border-radius: 0em 5em 5em 0em;
  margin: 150px 150px 150px 0px;
}
